[user]
        email = takahashi.tsc@ncos.nec.co.jp
        name = Toshiaki Takahashi
[core]
        editor = vi
[push]
        default = simple
[alias]
        tree = log --oneline --graph --decorate
